.App {
	.image {
		filter: brightness(60%);
		min-height: 100%;
  	min-width: 1024px;

  	width: 100%;
  	height: auto;

  	position: fixed;
  	top: 0;
  	left: 0;

  	z-index: -1;
	}
	
	.logo {
		position: fixed;
		height: 550px;
		left: 160px;
		top: 100px;
	}

	.random {
		margin-top: 640px;
		margin-left: 375px;
  	position: fixed;
  	height: 40px;
  	width: 120px;
		border-style: solid;
    border-width: 2px;
    border-color: #2daebe;
    border-radius: 6px;
    color: #fff;
    background: none;
    font-size: 16px;
	}
	.random:hover {
		background-color: black;
	}
	.random:focus {
		outline: 0;
	}

	.tweets {
		margin-top: 5px;
    float:right;
    height: 100%;
    overflow: scroll;
	}
}

@media screen and (max-width: 1200px) {
	.logo {
		height: 450px !important;
		left: 50px !important;
		top: 100px !important;
	}
	.random {
		margin-top: 560px !important;
		margin-left: 185px !important;
    font-size: 16px !important;
	}
}
@media screen and (max-width: 970px) {
	.logo {
		height: 350px !important;
		left: 20px !important;
		top: 50px !important;
	}
	.random {
		margin-top: 400px !important;
		margin-left: 95px !important;
    font-size: 16px !important;
	}
}
@media screen and (max-width: 845px) {
	.logo {
		height: 270px !important;
		left: 0px !important;
		top: 50px !important;
	}
	.random {
		margin-top: 330px !important;
		margin-left: 60px !important;
    font-size: 16px !important;
	}
}
@media screen and (max-width: 760px) {
	.logo {
		height: 230px !important;
		left: 0px !important;
		top: 80px !important;
	}
	.random {
		margin-top: 330px !important;
		margin-left: 55px !important;
    font-size: 14px !important;
	}
}
@media screen and (max-width: 715px) {
	.logo {
		height: 150px !important;
		left: 20px !important;
		top: 80px !important;
	}
	.random {
		margin-top: 230px !important;
		margin-left: 45px !important;
    font-size: 12px !important;
		height: 30px !important;
		width: 95px !important;
	}
}
