.App {
	.image {
		filter: brightness(60%);
		min-height: 100%;
  	min-width: 1024px;

  	width: 100%;
  	height: auto;

  	position: fixed;
  	top: 0;
  	left: 0;

  	z-index: -1;
	}
	
	.logo {
		position: fixed;
		height: 550px;
		left: 160px;
		top: 100px;
	}

	.random {
		margin-top: 640px;
		margin-left: 375px;
  	position: fixed;
  	height: 40px;
  	width: 120px;
		border-style: solid;
    border-width: 2px;
    border-color: #2daebe;
    border-radius: 6px;
    color: #fff;
    background: none;
    font-size: 16px;
	}
	.random:hover {
		background-color: black;
	}
	.random:focus {
		outline: 0;
	}

	.tweets {
		margin-top: 5px;
    float:right;
    height: 100%;
    overflow: scroll;
	}
}

