.App {
	.image {
		filter: brightness(60%);
		min-height: 100%;
  	min-width: 1024px;

  	width: 100%;
  	height: auto;

  	position: fixed;
  	top: 0;
  	left: 0;

  	z-index: -1;
	}
	
	.logo {
		position: fixed;
		height: 450px;
		left: 160px;
		top: 30px;
	}

	.random {
		margin-top: 480px;
		margin-left: 325px;
  	position: fixed;
  	height: 30px;
  	width: 100px;
		border-style: solid;
    border-width: 3px;
    border-color: #4ECDC4;
    border-radius: 2px;
    color: #fff;
    background: none;
    font-size: 13px;
	}
	.random:hover {
		background-color: black;
	}
	.random:focus {
		outline: 0;
	}

	.tweets {
		margin-top: 5px;
    float:right;
    height: 100%;
    overflow: scroll;
	}
}

