.App {
	.image {
		min-height: 100%;
  	min-width: 1024px;

  	width: 100%;
  	height: auto;

  	position: absolute;
  	top: 0;
  	left: 0;

  	z-index: -1;
	}
	.tweets {
		margin-top: 5px;
    float:right;
	}
}

.card {
	background-color: white;
	p {
		display: inline;
	}
	margin-bottom: 10px;
	width: 500px;
	height: 100px;
	.header{
		margin-left: 100px;
		padding-top: 20px;
		.name {
			color: black;
		}
		.screen_name {
			color: grey;
		}
		.time {
			color: grey;
			margin-left: 20px;
		}
	}
	.message {
		margin-left: 100px;
	}
}



.greeting {
	animation: hello 5s infinite; 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes hello {
	0% {
		color: yellow;
	}
	50% {
		color: red;
	}
	100% {
		color: yellow;
	}
}