.App {
	.image {
		filter: brightness(60%);
		min-height: 100%;
  	min-width: 1024px;

  	width: 100%;
  	height: auto;

  	position: fixed;
  	top: 0;
  	left: 0;

  	z-index: -1;
	}
	.random {
		margin-top: 300px;
		margin-left: 200px;
  	position: fixed;
	}
	.tweets {
		margin-top: 5px;
    float:right;
    height: 100%;
    overflow: scroll;
	}
}

.modal {
	background-color: #fff;
	p  {
		display: inline;
	}
	img {
		margin-left: 30px;
		float: left;
	}
	.header{
		margin-left: 100px;
		font-size: 28px;
		padding-top: 8px;
		.name {
			color: black;
    	font-weight: bold;
		}
		.screen_name {
			color: #95a5a6;
			font-weight: lighter;
		}
	}
}

.card {
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 2px;
	width: 500px;
	margin-bottom: 10px;
	padding-bottom: 30px;
	padding-top: 20px;
	p  {
		display: inline;
	}

	.message {
		width: 380px;
		margin-left: 80px;
		margin-top: 4px;
		font-size: 14px;
	}
	.profile_image {
		float: left;
		margin-left: 20px;
		width: 50px;
	}
	.header{
		margin-left: 80px;
		font-size: 15px;
		.name {
			color: black;
    	font-weight: bold;
		}
		.screen_name {
			color: #95a5a6;
			font-weight: lighter;
		}
		.time {
			color: #95a5a6;
			margin-left: 15px;
			font-weight: lighter;
		}
	}
}
