.App {
	.image {
		filter: brightness(60%);
		min-height: 100%;
  	min-width: 1024px;

  	width: 100%;
  	height: auto;

  	position: fixed;
  	top: 0;
  	left: 0;

  	z-index: -1;
	}
	.tweets {
		margin-top: 5px;
    float:right;
    max-height: 800px;
    overflow: scroll;
	}
}

.card {
	background-color: white;
	width: 500px;
	margin-bottom: 10px;
	padding-bottom: 30px;
	padding-top: 30px;
	p  {
		display: inline;
	}

	.message {
		width: 380px;
		margin-left: 100px;
		margin-right: 200px;
		font-size: 14px;
	}
	.profile_image {
		float: left;
		margin-left: 20px;
		width: 50px;
	}
	.header{
		margin-left: 100px;
		.name {
			color: black;
		}
		.screen_name {
			color: grey;
		}
		.time {
			color: grey;
			margin-left: 20px;
		}
	}
}




.greeting {
	animation: hello 5s infinite; 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes hello {
	0% {
		color: yellow;
	}
	50% {
		color: red;
	}
	100% {
		color: yellow;
	}
}